@import '../../Common.module.scss';

.employeeRootEmployee{
    margin: 10px 0 5px;
    text-transform: capitalize;
    text-align: center;
    width: 80%;
}

.employeeNormalEmployee{
    margin-top: 12px;
    display: inline-block;
    position: relative;
}

.employeeDash{
    position: relative;
    top: -8px;
    left: -7px;
}

.employeeDesig{
    font-style: italic;
    font-size: 12px;
}

.employeeOverviewBackBtn{
    display: flex;
}

.employeeOverviewListBlock{
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #656161;
}